body { 
background-image: url("assets/Command.png");
background-size: cover;
background-position: center;; 
color: #00ffff; 
font-family: 'Courier New', monospace; 
display: flex; 
flex-direction: column; 
align-items: center; 
margin: 0; 
overflow: hidden; 
height: 100vh; 
}
#ui-bar { 
width: 800px; 
display: flex; 
justify-content: space-between; 
padding: 15px 0; 
font-size: 18px; 
text-transform: uppercase; 
letter-spacing: 2px;
background-color: #00000080;
border: 2px solid #00ffff;
box-shadow: 0 0 15px #00ffff55;
border-radius: 10px;
margin-bottom: 10px;
}
#game-container { 
position: relative; 
width: 800px; 
height: 600px;
border: 3px solid #00ffff; 
box-shadow: 0 0 20px #00ffff55; 
}
canvas { 
background: #000; 
display: block; 
}
#legend-bar { 
width: 800px; 
display: flex; 
justify-content: space-around; 
padding: 10px 0; 
background-color: #00000080;
border: 1px solid #00ffff;
border-radius: 10px; 
margin-top: 5px; 
font-size: 11px; 
}
.legend-item { 
display: flex; 
align-items: center; 
gap: 8px; 
}
.p-icon { 
width: 12px; 
height: 12px; 
border-radius: 50%;
display: inline-block; 
border: 1px solid #fff; 
}
.overlay { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background: rgba(0,0,0,0.85); 
display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
text-align: center; 
z-index: 100; 
}
.hidden { 
display: none !important; 
}
button { 
background: #000; 
border: 2px solid #ff00ff; 
color: #ff00ff; 
padding: 12px 30px; 
font-size: 18px; 
cursor: pointer; 
margin-top: 15px; 
}
button:hover { 
background: #ff00ff; 
color: #000; 
}
input { 
background: #000; 
border: 2px solid #00ffff; 
color: #00ffff; 
font-size: 40px; 
text-align: center; 
width: 120px; 
outline: none; 
margin-top: 10px; 
}
.stat-val { 
color: #fff; 
font-weight: bold; }
.game-nav {
width: 100%;
background-color: #00000000;
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;  
}
.back-btn {
color: #fbfdfbfd;
background-color: #070707;
text-decoration: none;
font-size: 18px;
font-weight: bolder;
padding: 0.5rem 1rem;
margin-left: 20px;
border: 3px solid #05e8f87a;
transition: all 0.3s;
border-radius: 10px;
height: 40px;
width: 220px;
text-align: center;
align-content: center;
}
.back-btn:hover {
background: #8d03929d;
color: #eeff0186;
text-shadow: 0 0 10px #703809;
box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
}