body { 
            background-image: url("assets/BrixJS.png");
            background-size: cover;
            background-position: center;
            color: #fff; 
            font-family: 'Segoe UI', sans-serif; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            margin: 0; 
            padding-bottom: 50px; 
        }
        #header { 
            width: 550px; 
            display: flex; 
            justify-content: space-between; 
            padding: 15px 0; 
            font-size: 1.1em; 
            letter-spacing: 1px;
            border: #616060 3px solid;
            border-radius: 10px;
            padding: 10px 20px;
            background-color: #000000;
            box-shadow: inset 0 0 10px #fd02fd;
            margin-bottom: 10px; 
        }
        .stat-val { 
            color: #00d2ff; 
            font-weight: bold; 
            text-shadow: 0 0 8px #ff33ff; 
        }
        #game-container { 
            position: relative; 
            width: 800px; 
            height: 600px; 
            box-shadow: 0 0 40px rgba(255, 0, 140, 0.8); 
            border-radius: 20px; 
        }
        canvas { 
            background: radial-gradient(circle, #3f013f 0%, #000000 100%); 
            border: 3px solid #222; 
            cursor: crosshair; 
            display: block;
         }
        .overlay { 
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 800px; 
            height: 600px; 
            background: rgba(0,0,0,0.92); 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            z-index: 10; 
            text-align: center; 
            border-radius: 20px; 
        }
        h1 { 
            color: #00d2ff; 
            font-size: 3.5em; 
            margin: 0; 
            text-transform: uppercase; 
            letter-spacing: 5px; 
            text-shadow: 0 0 10px #ff33ff;
            border: #616060 3px solid;
            border-radius: 10px;
            padding: 10px 20px;
            background-color: #000000;
            box-shadow: inset 0 0 10px #fd02fd;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        .btn { 
            background: #00d2ff; 
            color: #000; 
            border: none; 
            padding: 15px 40px; 
            font-size: 1.2em; 
            cursor: pointer; 
            font-weight: bold; 
            border-radius: 2px; 
            margin-top: 20px; 
            box-shadow: 0 0 15px #ff33ff; 
            transition: all 0.3s ease; 
        }
        .btn:hover { 
            background: #fff; 
            box-shadow: 0 0 25px #00d2ff; 
        }
        input { 
            background: #111; 
            border: 2px solid #00d2ff; 
            color: #fff; 
            padding: 10px; 
            font-size: 1.2em; 
            text-align: center; 
            width: 120px; 
            margin: 20px 0; 
        }
        #legend { 
            width: 800px; 
            margin-top: 30px; 
            background: #16161d;
            padding: 20px; 
            border-radius: 8px; 
            border: 1px solid #333; 
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            gap: 15px; 
            box-shadow: 0 0 15px #ff33ff; 
        }
        .legend-item { 
            display: flex; 
            align-items: center; 
            gap: 15px; 
            font-size: 0.9em; 
        }
        .icon-circle { 
            width: 30px; 
            height: 30px; 
            border-radius: 50%; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            font-weight: bold; 
            color: #000; 
            border: 2px solid #fff; 
            flex-shrink: 0; 
        }
        .desc b { 
            color: #00d2ff; 
        }
        .game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }