body { 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            height: 100%;
            max-width: 95%;
            margin: 0; 
            background: #1a1a1a; 
            color: white; 
            font-family: 'Segoe UI', sans-serif;
            background-image: url("assets/Snake2DJS.png");
            background-size: cover;
            background-position: center;
            background-blend-mode: lighten; 
        }
        canvas { 
            border: 10px solid #123a05; 
            background: #000; 
            box-shadow: 0 0 30px rgb(255, 251, 0); 
            border-radius: 10px;
        }
        .stats { 
            display: flex; 
            gap: 40px; 
            margin-bottom: 10px; 
        }
        h1 { 
            margin: 0; 
            color: #173301; 
            text-shadow: 0 10px 30px rgba(255, 230, 4, 0.8); 
            font-size: 60px; 
        }
        .score-box { 
            font-size: 24px; 
            font-weight: bold;
            display: flex; 
            gap: 30px; 
            align-items: center; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            padding: 10px; 
            background: rgba(255, 255, 255, 0.8); 
            border-radius: 10px; 
            justify-content: space-between; 
            color: rgb(201, 181, 6); 
            margin-bottom: 20px; 
        }
        .game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }