body { 
    background-image: url("assets/CentiJS.png");
    background-size: cover;
    background-position: center;
    color: #00ffff; 
    font-family: 'Courier New', Courier, monospace;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0; 
    overflow: hidden;
}
#ui-bar { 
    width: 800px;
    height: 15px; 
    display: flex; 
    justify-content: space-between; 
    padding: 15px 0; 
    font-size: 20px; 
    text-transform: uppercase;
    letter-spacing: 2px; text-shadow: 0 0 10px #37033b;
    color: #f8f8f8;
    font-weight: bolder;
    border: 3px solid rgb(56, 56, 56); 
    border-radius: 5px; 
    background-color: #4b4a4ab7; 
    box-shadow: 10px 0 10px #5af500;
    margin-bottom: 10px;
    margin-top: auto;
}
#game-container { 
    position: relative; 
    width: 800px; 
    height: 600px; 
    border: 3px solid #00ffff;
    box-shadow: 0 0 20px #00ffff55;
    border-radius: 10px; 
}
canvas { 
    background: #000; 
    display: block; 
    cursor: crosshair;
    box-shadow: 0 0 25px #0310c4;
    border-radius: 10px; 
}
.overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.9); 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    z-index: 100;
    border-radius: 10px;
}
.hidden { 
    display: none !important; 
}
button { 
    background: #000; 
    border: 2px solid #00ffff; 
    color: #00ffff;
    padding: 15px 40px; 
    font-size: 22px; 
    cursor: pointer; 
    margin-top: 20px;
    box-shadow: 0 0 10px #00ffff; transition: 0.3s;
}
button:hover { 
    background: #00ffff; 
    color: #000; 
    transform: scale(1.05); 
}
.stat-val { 
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 0 15px #ff08d6;
}
.game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }