body {
            background-image: url("assets/InvadersJS.png");
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            color: #00f2ff;
            font-family: 'Courier New', Courier, monospace;
            overflow: hidden;
        }
        #hud, #legend {
            width: 800px;
            box-sizing: border-box;
            background: #10141b;
            border: 2px solid #1e2530;
        }
        #hud {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            border-bottom: none;
            border-radius: 20px;
            box-shadow: 0 0 20px #00f2ff;
            margin-bottom: 20px;
        }
        .stat { 
            text-align: center; 
        }
        .label { 
            font-size: 15x; 
            color: #557; 
            text-transform: uppercase;
            display: block; 
        }
        .val { 
            font-size: 20px;
            font-weight: bold; 
        }
        canvas {
            background: #05070a;
            border: 2px solid #1e2530;
            display: block;
            cursor: none;
            box-shadow: 0 0 20px #00f2ff;
            border-radius: 20px;
            margin-bottom: 20px;
        }
        #legend {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* Updated for 5 items */
            padding: 10px;
            border-top: none;
            border-radius: 20px;
            font-size: 10px;
            gap: 5px;
            box-shadow: 0 0 20px #00f2ff;
        }
        .pu-box { 
            padding: 5px; 
            background: rgba(255,255,255,0.03); 
            border-radius: 4px;
            text-align: center;
            border-radius: 20px;
            font-size: 12.5px;
        }
        .overlay {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 800px; 
            height: 600px;
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center;
            background: rgba(0,0,0,0.92); 
            z-index: 10;
            border-radius: 20px;
        }
        /* Centering the Match End UI */
        #game-over-screen div, #game-over-screen input, #game-over-screen button {
            margin: 10px 0;
        }
        button {
            padding: 12px 30px; 
            background: transparent; 
            color: #00f2ff;
            border: 2px solid #0376d4; 
            cursor: pointer; 
            font-family: inherit;
            transition: 0.2s;
            border-radius: 10px
        }
        button:hover { 
            background: #2d5e4fe1;
            color: #faf8f8; 
            box-shadow: 0 0 30px #00f2ff;
        }
        .hidden { 
            display: none; 
        }
        .game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }