body {
            margin: 0;
            background-color: #000;
            background-image: url("assets/AstroJS.png");
            background-size: cover;
            background-position: center;
            background-blend-mode: lighten;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: 'Courier New', Courier, monospace;
            overflow: hidden;
        }
        canvas {
            border: 2px solid #555;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
            background-color: #000;
            border: 5px solid #0f0136be; 
            background: #000; 
            box-shadow: 0 0 30px rgb(87, 219, 252); 
            border-radius: 10px;
        }
        .ui {
            position: absolute;
            top: 10px;
            pointer-events: none;
            text-align: center;
            margin-top: 10px;
        }
        #highScore { 
            font-size: 20px;
            font-weight: 800;
            text-shadow: #000000 0 10px 5px;
            color: #00ff15; 
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }