body { 
            background-image: url("assets/FrogJS.png");
            background-size: cover;
            background-position: center;
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            font-family: 'Courier New', Courier, monospace; 
            color: #ffffff; 
            margin: 0; 
            overflow: hidden; 
        }
        #ui-bar { 
            width: 800px; 
            display: flex; 
            justify-content: space-between; 
            padding: 15px 0; 
            font-size: 20px;
            font-weight: bolder; 
            text-transform: uppercase; 
            letter-spacing: 2px; 
            text-shadow: 0 0 25px #ffbc02;
            border-style: groove;
            border-color: #00b0bd;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #000;
            box-shadow: 0 0 30px rgba(255, 136, 0, 0.877); 
        }
        #game-container { 
            position: relative; 
            width: 800px; 
            height: 600px; 
            border: 3px solid #00ffff; 
            box-shadow: 0 0 25px rgba(0, 255, 255, 0.5); 
        }
        canvas { 
            background: #020207; 
            display: block;
            box-shadow: 0 0 30px rgba(255, 136, 0, 0.877); 
        }
        .overlay {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;
            background: rgba(0,0,0,0.9); 
            display: flex; 
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            text-align: center;
            border: 2px solid transparent;
        }
        .hidden { 
            display: none !important; 
        }
        h1 { 
            font-size: 60px; 
            margin-bottom: 10px; 
            text-shadow: 0 0 15px currentColor;
        }
        input { 
            font-size: 24px; 
            width: 120px; 
            text-align: center; 
            background: #111; 
            color: #ff00ff; 
            border: 2px solid #ff00ff; 
            margin: 10px; 
            padding: 5px; 
        }
        button { 
            padding: 12px 30px; 
            font-size: 18px; 
            cursor: pointer; 
            background: #000; 
            color: #00ffff; 
            border: 2px solid #00ffff;
            border-radius: 10px; 
            font-weight: bold; 
            transition: 0.2s; 
            letter-spacing: 2px;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
        }
        button:hover { 
            background: #00ffff; 
            color: #000; 
            box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); 
        }

        .neon-blue { color: #00ffff; }
        .neon-pink { color: #ff00ff; }
        .neon-red { color: #ff3333; }
        .neon-yellow { color: #ffff00; }

        #level-transition-screen {
            background: rgba(0, 255, 255, 0.1);
            pointer-events: none;
        }
        .game-nav {
            width: 100%;
            background-color: #00000000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;  
        }
        .back-btn {
            color: #fbfdfbfd;
            background-color: #070707;
            text-decoration: none;
            font-size: 18px;
            font-weight: bolder;
            padding: 0.5rem 1rem;
            margin-left: 20px;
            border: 3px solid #05e8f87a;
            transition: all 0.3s;
            border-radius: 10px;
            height: 40px;
            width: 220px;
            text-align: center;
            align-content: center;
        }

        .back-btn:hover {
            background: #8d03929d;
            color: #eeff0186;
            text-shadow: 0 0 10px #703809;
            box-shadow: inset 0 0 10px #05e8f8, 0 0 20px #05e8f8;
        }